<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.eseo.dis.android.vp.projet_eseo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fr.eseo.dis.android.vpmb.projet_eseo.PosterFullActivity"></activity>
        <activity android:name="fr.eseo.dis.android.vpmb.projet_eseo.PfeDetailsActivity" />
        <activity android:name="fr.eseo.dis.android.vpmb.projet_eseo.MyPfeDetailsActivity" />
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.AllPfeActivity"
            android:label="@string/AllPfeActivity" />
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.MyJuryProjectActivity"
            android:label="MyJuryProjectActivity" />
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.MyPfeActivity"
            android:label="@string/MyPfeActivity" />
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.ComMemberActivity"
            android:label="@string/title_activity_com_member"
            android:parentActivityName="fr.eseo.dis.android.vpmb.projet_eseo.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.eseo.dis.android.vpmb.projet_eseo.ui.login.LoginActivity" />
        </activity>
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.JuryMemberActivity"
            android:label="@string/jury_menu_name"
            android:parentActivityName="fr.eseo.dis.android.vpmb.projet_eseo.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.eseo.dis.android.vpmb.projet_eseo.ui.login.LoginActivity" />
        </activity>
        <activity
            android:name="fr.eseo.dis.android.vpmb.projet_eseo.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="fr.eseo.dis.android.vpmb.projet_eseo.ActivityVisitorListSubjects" />
        <activity android:name="fr.eseo.dis.android.vpmb.projet_eseo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>